<div class="main">
    <p class="def title" (click) = "Toggle()">Outline</p>
    <div *ngIf="Toggled && Models && Models.Selected" class="def body row">
        <a *ngIf="!Models.Selected.Outline" class="button-control col-md-12" (click)="CreateOutline()">Create</a>
        <div *ngIf="Models.Selected.Outline" class="def col-md-12">
            <label class="def label col-md-12">Color</label>
            <input type="number" class="def input-3" [(ngModel)]="Models.Selected.OutlineColorR" />
            <input type="number" class="def input-3" [(ngModel)]="Models.Selected.OutlineColorG" />
            <input type="number" class="def input-3" [(ngModel)]="Models.Selected.OutlineColorB" />
            <label class="label col-md-12">Width</label>
            <input type="number" class="input-1" [(ngModel)]="Models.Selected.OutlineWidth" />
        </div>
        <a *ngIf="Models.Selected.Outline" class="button-control col-md-12" style="margin-top:5px;" (click)="RemoveOutline()">Remove</a>
    </div>
</div>