<div class="main">
    <p class="def title">Light</p>
    <div class="def body">
        <div class="def col-md-12">
            <label class="def label col-md-12">Intensity</label>
            <input type="number" class="def input-1" />
        </div>
        <div class="def col-md-12">
            <label class="def label col-md-12">Position</label>
            <input type="number" class="def input-3" />
            <input type="number" class="def input-3" />
            <input type="number" class="def input-3" />
        </div>
        <div class="def col-md-12">
            <label class="def label col-md-12">Rotation</label>
            <input type="number" class="def input-3" />
            <input type="number" class="def input-3" />
            <input type="number" class="def input-3" />
        </div>
    </div>
</div>