<div class="main">
    <p class="def title">Renderer</p>
    <div class="def body">
        <div class="def left-sidebar">
            <options [Renderer]="Renderer"></options>
            <replay [Animations]="Renderer.Animations"></replay>
            <camera [Camera]="Renderer.Camera"></camera>
            <light [Light]="Renderer.Light"></light>
        </div>
        <div id="canvas-parent" class="def canvas-parent">
            <canvas id="canvas"></canvas>
        </div>
        <div class="def right-sidebar">
            <models [Models]="Renderer.Models"></models>
            <transformations [Models]="Renderer.Models"></transformations>
            <animations [Animations]="Renderer.Animations"></animations>
            <materials></materials>
        </div>
    </div>
</div>