<div class="main">
    <p class="def title">Renderer</p>
    <div class="def body">
        <div class="def left-sidebar">
            <options></options>
            <camera></camera>
            <light></light>
            <replay></replay>
        </div>
        <div id="canvas-parent" class="def canvas-parent">
            <canvas id="canvas"></canvas>
        </div>
        <div class="def right-sidebar">
            <models></models>
            <transformations></transformations>
            <animations></animations>
            <materials></materials>
        </div>
    </div>
</div>