<div class="main">
    <p class="def title" (click) = "Toggle()">Materials</p>
    <div *ngIf="Toggled" class="def body row">
        <div *ngIf="Models && Models.Selected" class="def col-md-12">
            <label class="def label col-md-12">Color</label>
            <input type="number" class="def input-3" [(ngModel)]="Models.Selected.Mesh.material.color.r" />
            <input type="number" class="def input-3" [(ngModel)]="Models.Selected.Mesh.material.color.g" />
            <input type="number" class="def input-3" [(ngModel)]="Models.Selected.Mesh.material.color.b" />
        </div>
        <div *ngIf="Models && Models.Selected" class="def col-md-12">
            <label class="def label col-md-12">Specular</label>
            <input type="number" class="input-1" [(ngModel)]="Models.Selected.Mesh.material.shininess" />
            <label class="def label col-md-12">SpecularColor</label>
            <input type="number" class="def input-3" [(ngModel)]="Models.Selected.Mesh.material.specular.r" />
            <input type="number" class="def input-3" [(ngModel)]="Models.Selected.Mesh.material.specular.g" />
            <input type="number" class="def input-3" [(ngModel)]="Models.Selected.Mesh.material.specular.b" />
        </div>
        <a *ngIf="Models && Models.Selected" class="button-control col-md-12" style="margin-top:5px;" (click)="TextureLoad()">TextureLoad</a>
    </div>
</div>